body {
  background-image: url("./thermo.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

label {
  font-family: "DM Serif Display";
  display: inline-block;
  width: 100px;
  text-align: left;
}
#submit {
  width: 100px;
  padding: 3px;
  font-family: "DM Serif Display";
  font-weight: 600px;
  background-color: rgb(237, 190, 20);
  margin-left: 70px;
  border-radius: 3px;
}
h1 {
  font-family: "Smooch", cursive;
  font-size: 8rem;
  margin-left: 200px;
}
.box {
  display: block;
  margin-left: 600px;
  margin-bottom: 300px;
}
#result {
  font-family: "Smooch", cursive;
  font-size: 3rem;
  font-weight: 500;
}
